.game {
  border: 2px solid $black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__image {
    height: 156px;

    img {
      object-fit: cover;
    }
  }

  &__info {
    flex: 1;
    padding: 10px;
  }

  &__title {
    margin-bottom: 10px;
  }
}
