* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: Roboto, sans-serif; // Add the font-family defined for the project in the designs
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

figure {
  line-height: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover,
  &:visited {
    text-decoration: none;
  }
}
