// Add the typography defined for the project in the designs
h1,
.h1 {
  font-size: 4.4rem;

  @include breakpoint(md) {
    font-size: 5rem;
  }

  @include breakpoint(lg) {
    font-size: 7.2rem;
  }
}

h2,
.h2 {
  font-size: 3.8rem;

  @include breakpoint(lg) {
    font-size: 4.6rem;
  }
}

p,
.p {
  font-size: 1.6rem;
}
