<section class="container game-detail">
  <figure>
    {{{asset heroImage}}}
  </figure>
  <h2 class="game-detail__title">
    {{ title }}
  </h2>
  <p class="game-detail__description">
    {{{markdown description}}}
  </p>
</section>
