<a href="{{url}}.html" class="game">
  <figure class="game__image">
    {{{asset picture}}}
  </figure>
  <div class="game__info">
    <div class="game__title">
      <span><b>Title:</b> {{title}}</span>
    </div>
    <div class="game__console">
      <span><b>Console:</b> {{console}}</span>
    </div>
  </div>
</a>
