<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="favicon.ico" rel="icon" type="image/x-icon">

    {{!-- Remove or add the correct fonts to be used in the project --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    {{!-- Uncomment when header component is created in Contentful --}}
    {{!-- {{{module header}}} --}}

    <main>
      {{#each components}}
        {{{module this}}}
      {{/each}}
    </main>

    <script src="main.bundle.js"></script>
  </body>
</html>
